<a href="https://colab.research.google.com/github/DAEN690-S22-OA/OceanicAirspaceProject/blob/main/VerticalSeparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting Up The Environment

In [1]:
#Installing the required libraries
!pip install geopy
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.37)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=ebfc2d1d3baf3aa79cf5320854d029cb0738e5a42c19af986be6279fecb8b09a
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
#Importing the required libraries
import pandas as pd
import pandasql as ps
# from pyspark.sql import SparkSession
import os
import sys
import re
from datetime import datetime
from geopy.distance import geodesic as GD
from math import radians, cos, sin, asin, sqrt
from google.colab import files
import io
import numpy as np
from shapely.geometry import Point, Polygon

# Importing Raw Data & Pre-Processing

In [ ]:
#Upload the full datafile 
uploadedfile = files.upload('DEC_24_2021.csv')
rawData_df = pd.read_csv(io.BytesIO(uploadedfile['DEC_24_2021.csv']))
print(f'Total record count : ',len(rawData_df.index))

In [ ]:
#New dataframe with selected attributes from the raw data (Flight Level Column added)
airspaceData_df =rawData_df[["FRN73TMRPDateTimeOfMessageRec","FRN131HRPWCFloatingPointLat","FRN131HRPWCFloatingPointLong","FRN145FLFlightLevel",
                 "FRN170TITargetId","RESHSelectedHeading","FRN80TATargetAddress",
                 "FRN161TNTrackNumber"]]

#Rename columns to make it easier to read
airspaceData_df = airspaceData_df.rename(columns={'FRN73TMRPDateTimeOfMessageRec': 'DateTime', 
                                                  'FRN131HRPWCFloatingPointLat': "Latitude", 
                                                  'FRN131HRPWCFloatingPointLong': "Longitude",  
                                                  'FRN145FLFlightLevel':"Height",
                                                  'FRN170TITargetId': "TargetID", 
                                                  'RESHSelectedHeading': "SelectedHeading", 
                                                  'FRN80TATargetAddress': "TargetAddress",
                                                  'FRN161TNTrackNumber': "TrackNumber"})

#Preview to ensure everything is looking as expected 
airspaceData_df.head()

In [ ]:
# Remove anything less than 240 flight level 
airspaceData1 = airspaceData_df[(airspaceData_df['Height'] >= 240)]

#Preview Data
airspaceData1.head()

In [ ]:
# Convert dask dataframe to pandas dataframe
airspaceDF = airspaceData1.compute()

In [ ]:
# Remove unnescessary characters 
char = ['T','Z']
for x in char:
    airspaceDF["DateTime"] = airspaceDF["DateTime"].str.replace( x ," ")

# Formatted Datetime
airspaceDF["DateTime"] = pd.to_datetime(airspaceDF["DateTime"], format="%Y-%m-%d %H:%M:%S")

In [ ]:
# Create 4 new columns for Hour, Minute, Second and Microsecond
airspaceDF["Hour"] = airspaceDF["DateTime"].dt.hour
airspaceDF["Minute"] = airspaceDF["DateTime"].dt.minute
airspaceDF["Second"] = airspaceDF["DateTime"].dt.second
airspaceDF["microSecond"] = airspaceDF["DateTime"].dt.microsecond

In [ ]:
# Reorder columns
airspaceDF = airspaceDF[["DateTime","Hour","Minute","Second","microSecond","Latitude","Longitude","Height",
                                   "TargetID","SelectedHeading","TargetAddress",
                                   "TrackNumber"]]

# Preview Dataframe
airspaceDF.head()

In [ ]:
airspaceData = airspaceData[(airspaceData['Second'] < 5)]
print(f'Total record count : ',len(airspaceData.index))

## Upload datafile here during testing

In [3]:
#---------------REMOVE AFTER FINAL TESTING --------------------------------

#Upload the data file after pre-processing (only the selected attribues and only above level 240)
uploadedfile = files.upload()
airspaceDF = pd.read_csv(io.BytesIO(uploadedfile['airspaceData.csv']))

Saving airspaceData.csv to airspaceData.csv

In [4]:
airspaceDF.head(5)

,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
0,2021-12-24 12:36:02.773,12,36,2,773000,37.307144,-139.574170,350.00,ASA899,NaN,A7B779,1024.0
1,2021-12-24 12:36:02.750,12,36,2,750000,48.981194,-131.626113,389.75,JAL10,70.31250,86E84C,624.0
2,2021-12-24 12:36:02.695,12,36,2,695000,44.079895,-167.602190,330.00,CKS258,NaN,AA7BD6,1024.0
3,2021-12-24 12:36:02.617,12,36,2,617000,3.637665,-174.884747,379.75,QFA76,206.71875,7C8068,3616.0
4,2021-12-24 12:36:02.563,12,36,2,563000,30.918227,-129.410266,389.75,AAL675,57.65625,AB5C12,1024.0

In [5]:
#Some column names may be imported with leading spaces. This will remove that
airspaceDF.columns = [x.strip() for x in airspaceDF.columns]

print(airspaceDF.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211679 entries, 0 to 211678
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   DateTime         211679 non-null  object
 1   Hour             211679 non-null  int64
 2   Minute           211679 non-null  int64
 3   Second           211679 non-null  int64
 4   microSecond      211679 non-null  int64
 5   Latitude         211679 non-null  float64
 6   Longitude        211679 non-null  float64
 7   Height           211679 non-null  float64
 8   TargetID         211648 non-null  object
 9   SelectedHeading  162560 non-null  float64
 10  TargetAddress    211679 non-null  object
 11  TrackNumber      211441 non-null  float64
dtypes: float64(5), int64(4), object(3)
memory usage: 19.4+ MB
None

In [6]:
# Rename Height to FlightLevel
airspaceDF.rename(columns={'Height': 'FlightLevel'}, inplace=True)

In [7]:
# Change Flight Level Unit * 100
airspaceDF['FlightLevel'] = airspaceDF['FlightLevel'].apply(lambda x: x * 100)

In [8]:
# Replace missing value with -1
airspaceDF['SelectedHeading'] = airspaceDF['SelectedHeading'].fillna(-1)

In [9]:
# Assign Direction "E" for 0-180 degree, "W" for 180-360 degree, "NA" is record with null values 
conditionlist = [
    (airspaceDF['SelectedHeading'] < 0) ,
    (airspaceDF['SelectedHeading'] >= 0) & (airspaceDF['SelectedHeading'] <180),
    (airspaceDF['SelectedHeading'] > 180)]
choicelist = ['NA', 'E', 'W']
airspaceDF['Direction'] = np.select(conditionlist, choicelist)

airspaceDF.head(5)

,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,FlightLevel,TargetID,SelectedHeading,TargetAddress,TrackNumber,Direction
0,2021-12-24 12:36:02.773,12,36,2,773000,37.307144,-139.574170,35000.0,ASA899,-1.00000,A7B779,1024.0,NA
1,2021-12-24 12:36:02.750,12,36,2,750000,48.981194,-131.626113,38975.0,JAL10,70.31250,86E84C,624.0,E
2,2021-12-24 12:36:02.695,12,36,2,695000,44.079895,-167.602190,33000.0,CKS258,-1.00000,AA7BD6,1024.0,NA
3,2021-12-24 12:36:02.617,12,36,2,617000,3.637665,-174.884747,37975.0,QFA76,206.71875,7C8068,3616.0,W
4,2021-12-24 12:36:02.563,12,36,2,563000,30.918227,-129.410266,38975.0,AAL675,57.65625,AB5C12,1024.0,E

#Create the polygon for Hawaii airspace and remove any points that fall within that polygon

In [10]:
#Coordinates for Hawaii airspace
v0 = (26.14472222, -158.62194444) 
v1 = (26.105, -160.63166667)
v2 = (25.67611111, -161.69111111)
v3 = (25.05666667, -162.64972222)
v4 = (24.16889, -163.26638889)
v5 = (23.25833, -163.855)
v6 = (22.20555556, -163.91444444)
v7 = (33.10266389, 130.47177778)
v8 = (20.11666667, -163.3)
v9 = (19.65805556,-162.69944444)
v10 = (19.415, -162.38361111)
v11 = (18.40777778, -160.81416667)
v12 = (18.0525, -160.26972222)
v13 = (17.75583333, -159.53888889)
v14 = (17.17055556, -157.75666667) 
v15 = (17.805,-156.06805556)
v16 = (18.10888889, -155.71166667)
v17 = (19.14222222, -154.48333333)
v18 = (19.22293333, -151.87963333)
v19 = (20.69694444, -151.01916667) 
v20 = (21.54777778, -151.46638889)
v21 = (22.34416667,-151.88527778)
v22 = (23.02416667, -152.57777778)
v23 = (23.78055556, -153.36611111)
v24 = (24.29583333, -154.25)
v25 = (24.72138889, -155.26305556)
v26 = (25.19583333, -156.42111111)

# Polygon
coords = [v1, v2, v3, v4, v5, v6, v7, v8, v9, v10, v11, v12, v13, v14, v15, v16, v17, v18, v19, v20, v21, v22, v23, v24, v25, v26]
poly = Polygon(coords)

In [11]:
hawaiiAir = []
loc = 0

while loc < len(airspaceDF):
  p1 = Point(airspaceDF.iloc[loc][5], airspaceDF.iloc[loc][6])
  hawaiiAir.append(p1.within(poly))
  loc = loc + 1

airspaceDF['nearHawaii'] = hawaiiAir

airspaceDF.head(10)

,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,FlightLevel,TargetID,SelectedHeading,TargetAddress,TrackNumber,Direction,nearHawaii
0,2021-12-24 12:36:02.773,12,36,2,773000,37.307144,-139.574170,35000.0,ASA899,-1.000000,A7B779,1024.0,NA,False
1,2021-12-24 12:36:02.750,12,36,2,750000,48.981194,-131.626113,38975.0,JAL10,70.312500,86E84C,624.0,E,False
2,2021-12-24 12:36:02.695,12,36,2,695000,44.079895,-167.602190,33000.0,CKS258,-1.000000,AA7BD6,1024.0,NA,False
3,2021-12-24 12:36:02.617,12,36,2,617000,3.637665,-174.884747,37975.0,QFA76,206.718750,7C8068,3616.0,W,False
4,2021-12-24 12:36:02.563,12,36,2,563000,30.918227,-129.410266,38975.0,AAL675,57.656250,AB5C12,1024.0,E,False
5,2021-12-24 12:36:02.547,12,36,2,547000,38.192945,-142.006113,37000.0,ACA034,21.796875,C01732,1321.0,E,False
6,2021-12-24 12:36:02.523,12,36,2,523000,23.224319,-141.326627,39000.0,DAL40,23.203125,A64CDB,1024.0,E,False
7,2021-12-24 12:36:02.516,12,36,2,516000,13.020080,156.802084,38975.0,ANZ1090,158.906250,C820CF,1024.0,E,False
8,2021-12-24 12:36:02.516,12,36,2,516000,3.513344,-155.194150,39000.0,ANZ1008,21.093750,C820CE,145.0,E,False
9,2021-12-24 12:36:02.484,12,36,2,484000,19.601937,167.751742,35000.0,MGE305,-1.000000,A9228A,1024.0,NA,False

In [12]:
airspaceDF = airspaceDF[(airspaceDF['nearHawaii'] == False)]
airspaceDF = airspaceDF.drop(columns=['nearHawaii'])

airspaceDF.head(10)

,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,FlightLevel,TargetID,SelectedHeading,TargetAddress,TrackNumber,Direction
0,2021-12-24 12:36:02.773,12,36,2,773000,37.307144,-139.574170,35000.0,ASA899,-1.000000,A7B779,1024.0,NA
1,2021-12-24 12:36:02.750,12,36,2,750000,48.981194,-131.626113,38975.0,JAL10,70.312500,86E84C,624.0,E
2,2021-12-24 12:36:02.695,12,36,2,695000,44.079895,-167.602190,33000.0,CKS258,-1.000000,AA7BD6,1024.0,NA
3,2021-12-24 12:36:02.617,12,36,2,617000,3.637665,-174.884747,37975.0,QFA76,206.718750,7C8068,3616.0,W
4,2021-12-24 12:36:02.563,12,36,2,563000,30.918227,-129.410266,38975.0,AAL675,57.656250,AB5C12,1024.0,E
5,2021-12-24 12:36:02.547,12,36,2,547000,38.192945,-142.006113,37000.0,ACA034,21.796875,C01732,1321.0,E
6,2021-12-24 12:36:02.523,12,36,2,523000,23.224319,-141.326627,39000.0,DAL40,23.203125,A64CDB,1024.0,E
7,2021-12-24 12:36:02.516,12,36,2,516000,13.020080,156.802084,38975.0,ANZ1090,158.906250,C820CF,1024.0,E
8,2021-12-24 12:36:02.516,12,36,2,516000,3.513344,-155.194150,39000.0,ANZ1008,21.093750,C820CE,145.0,E
9,2021-12-24 12:36:02.484,12,36,2,484000,19.601937,167.751742,35000.0,MGE305,-1.000000,A9228A,1024.0,NA

# Filter A Time Block

In [13]:
def minuteFilter(HourCounter,MinuteCounter):

  global airspaceDF

  #create SQL query for flights between the start and end time
  sql1 = "SELECT *, min(Second) FROM airspaceDF WHERE Hour = '{0}' and Minute = '{1}' GROUP BY TargetID ORDER BY TargetID, Second".format(HourCounter, MinuteCounter)

  #Run query and store results
  recordsInMinute = ps.sqldf(sql1, globals())
  del recordsInMinute['min(Second)']

  return (recordsInMinute)

# Check For Proximity

In [14]:
def lonTableCreate(recordsByMinuteDF):
  #Create tables to check for proximity in latitude
  sql4 = "SELECT * FROM recordsByMinuteDF ORDER BY Longitude"

  #Run query and store results
  LongitudeOrderDF = ps.sqldf(sql4, locals())

  return (LongitudeOrderDF)

In [15]:
def latTableCreate(recordsByMinuteDF):
  #Create tables to check for proximity in latitude
  sql3 = "SELECT * FROM recordsByMinuteDF ORDER BY Latitude"

  #Run query and store results
  LatitudeOrderDF = ps.sqldf(sql3, locals())

  return (LatitudeOrderDF)

In [16]:
# Implement the formula below
def distance_d(point0,pointX):
# The function "radians" is found in the math module
 LoA = radians(point0[1])  
 LoB = radians(pointX[1])
 LaA=  radians(point0[0])  
 LaB = radians(pointX[0]) 
# The "Haversine formula" is used.
 D_Lo = LoB - LoA 
 D_La = LaB - LaA 
 P = sin(D_La / 2)**2 + cos(LaA) * cos(LaB) * sin(D_Lo / 2)**2  
   
 Q = 2 * asin(sqrt(P))   
 # The earth's radius in kilometers.
 R_km = 6371  
 
 # Change the kilometer to  nautical miles
 R_nm = R_km*0.539956803

# Then we'll compute the outcome.
 return(Q * R_nm)

In [17]:
# Create function to set up boundary within 25 nm by latitude, longitude 
def limit_lon(point0):
  '''
  use with LongitudeOrderDF
  note: distance from point to longitude boundary of each row is around 24.9715
  '''
  LaA = radians(point0[0])
  onedeg_long = cos(LaA)*(69.172*0.868976242)
  add = 25/onedeg_long 
  pointlimit = (point0[0],point0[1]+add)
  return pointlimit[1]

def limit_lat(point0):
  '''
  use with LatitudeOrderDF
  note: distance from point to longitude boundary of each row is 25.016857125339488
  '''
  onedeg_lat = 60 
  add = 25/onedeg_lat
  pointlimit = (point0[0]+add,point0[1])
  return pointlimit[0]

In [19]:
# Create function to select, merge and add the values from analyzing Longitude and Latitude
def newDF(OrderDF,x,y,d):
    """DF is Long/LatitudeOrderDF
       x = long/latpoint_a
       y = long/latpoint_b
       d = long/latdistance_ab"""
    # select rows that index is in list 'point_a', 'point_b'
    A = OrderDF.loc[x,['DateTime','Hour','Minute','Second','microSecond','Latitude','Longitude','FlightLevel',
                             'TargetID', 'SelectedHeading', 'TargetAddress']]
    B = OrderDF.loc[y,['DateTime','Hour','Minute','Second','microSecond','Latitude','Longitude','FlightLevel',
                             'TargetID', 'SelectedHeading', 'TargetAddress']]
    # Join 2 tables by the "TargetID" of point a (for the uniquness)
    OrderResult = pd.merge(A.reset_index(drop=True),B.reset_index(drop=True),left_index=True, right_index=True)
    # add distance column
    OrderResult['Distance'] = d
    return OrderResult

In [31]:
#Calculate the distance of the points closest to each other by longitidue and latitude
def proximityCalc(LongitudeOrderDF, LatitudeOrderDF):
  longpoint_a = []
  longpoint_b = []
  longdistance_ab = []

  latpoint_a = []
  latpoint_b = []
  latdistance_ab = []

  for a in LongitudeOrderDF.index:
    for n in range(1,len(LongitudeOrderDF)):
      b = a+n
      if b < len(LongitudeOrderDF):
        point0 = LongitudeOrderDF.loc[a,'Latitude'], LongitudeOrderDF.loc[a,'Longitude']
        pointX = LongitudeOrderDF.loc[b,'Latitude'], LongitudeOrderDF.loc[b,'Longitude']
        if pointX[1] <= limit_lon(point0): # Check if longitude of pointX is within the boundary
          distance = distance_d(point0,pointX)
          if distance <= 25: # Check distance within 25 nm
            longpoint_a.append(a)
            longpoint_b.append(b)
            longdistance_ab.append(distance)
        else:
          break

  for a in LatitudeOrderDF.index:   
    for n in range(1,len(LatitudeOrderDF)):
      b = a+n
      if b < len(LatitudeOrderDF):
        point0 = LatitudeOrderDF.loc[a,'Latitude'], LatitudeOrderDF.loc[a,'Longitude']
        pointX = LatitudeOrderDF.loc[b,'Latitude'], LatitudeOrderDF.loc[b,'Longitude']    
        if pointX[0] <= limit_lat(point0):# Check if latitude of pointX is within the boundary
          distance = distance_d(point0,pointX)
          if distance <= 25: # Check distance within 25 nm
            latpoint_a.append(a)
            latpoint_b.append(b)
            latdistance_ab.append(distance)
        else:
          break

  # Apply function to select and merge data frame
  LongOrderResult = newDF(LongitudeOrderDF,longpoint_a, longpoint_b,longdistance_ab)
  LatOrderResult = newDF(LatitudeOrderDF,latpoint_a, latpoint_b,latdistance_ab)

  # Concatenate results from order by longitude and latitude
  Resultsdf = pd.concat([LongOrderResult,LatOrderResult]).reset_index(drop=True)

  # Delete duplicate pairs of TargetID x and y regardless of order
  Resultsdf['list_target'] = Resultsdf.apply(lambda row: tuple(sorted([row['TargetID_x']]+[row['TargetID_y']])), axis = 1)
  ResultsDF = Resultsdf.drop_duplicates(subset = 'list_target',keep = 'first').reset_index(drop = True)
  ResultsDF.drop('list_target', axis=1, inplace=True)

  return (ResultsDF)

# Calculate Height Differences

In [21]:
def distanceCalc(resultsDF):
  heightDifference = []
  potentialLoss1000 = []
  potentialLoss400 = []

  counter = 0

  while counter < len(resultsDF):
    difference = abs((resultsDF['FlightLevel_x'][counter]) - (resultsDF['FlightLevel_y'][counter]))
    heightDifference.append(difference)

    if difference <= 1000:
      potentialLoss1000.append('True')
      if difference <= 400:
        potentialLoss400.append('True')
      else:
        potentialLoss400.append('False')
    else:
      potentialLoss1000.append('False')
      potentialLoss400.append('False')

    counter = counter + 1

  resultsDF['HeightDifference_ft'] = heightDifference
  resultsDF['potentialLoss400'] = potentialLoss400
  resultsDF['potentialLoss1000'] = potentialLoss1000

  return (resultsDF)

# Call the functions

In [30]:
HourCounter = 00
finalResults = pd.DataFrame()

while HourCounter < 1:
  #Create table for the minute
  for MinuteCounter in range(0,60):
    #Create table for the minute
    recordsByMinuteDF = minuteFilter(HourCounter,MinuteCounter)
    
    #Create longitude and latitude table for proximity analysis
    LongitudeOrderDF = lonTableCreate(recordsByMinuteDF)
    LatitudeOrderDF = latTableCreate(recordsByMinuteDF)
    
    #calculate proximity
    resultsDF = proximityCalc(LongitudeOrderDF, LatitudeOrderDF)
    if resultsDF.empty == True:
      # if the results dataframe is empty, then break out of for-loop
      break
    else:
      #Calculate distance
      resultsDF = distanceCalc(resultsDF)
      #Add the results for this minute to the overall results 
      finalResults = pd.concat([finalResults, resultsDF], ignore_index=True)
  HourCounter = HourCounter + 1

In [25]:
finalResults.to_csv('results1Hr_new.csv', encoding = 'utf-8-sig') 
files.download('results1Hr_new.csv')

# Print Results

In [26]:
#Get the first entry for this minute of time
sql6 = "SELECT * FROM finalResults WHERE potentialLoss400 = 'True' "

#Run query and store results
LossCandidates400 = ps.sqldf(sql6, locals())

In [27]:
print(LossCandidates400)

                DateTime_x  Hour_x  Minute_x  Second_x  microSecond_x  \
0  2021-12-24 00:24:00.531       0        24         0         531000
1  2021-12-24 00:45:00.875       0        45         0         875000

   Latitude_x  Longitude_x  FlightLevel_x TargetID_x  SelectedHeading_x  ...  \
0   22.298813  -155.816895        30000.0     DAL495          45.703125  ...
1   21.387222  -155.755821        30575.0    SWA1385         196.875000  ...

  Latitude_y Longitude_y  FlightLevel_y  TargetID_y  SelectedHeading_y  \
0  22.278488 -155.472823        29800.0      AAL432          78.046875
1  21.663071 -155.441362        30475.0     SWA1310          68.203125

   TargetAddress_y   Distance  HeightDifference_ft  potentialLoss400  \
0           AB271F  19.153653                200.0              True
1           ABFD8C  24.140765                100.0              True

  potentialLoss1000
0              True
1              True

[2 rows x 26 columns]

In [28]:
#Get the first entry for this minute of time
sql7 = "SELECT * FROM finalResults WHERE potentialLoss1000 = 'True' "

#Run query and store results
LossCandidates1000 = ps.sqldf(sql7, locals())

In [29]:
print(LossCandidates1000)

                 DateTime_x  Hour_x  Minute_x  Second_x  microSecond_x  \
0   2021-12-24 00:00:01.406       0         0         1         406000
1   2021-12-24 00:00:00.531       0         0         0         531000
2   2021-12-24 00:01:00.289       0         1         0         289000
3   2021-12-24 00:04:00.398       0         4         0         398000
4   2021-12-24 00:05:03.188       0         5         3         188000
5   2021-12-24 00:07:01.711       0         7         1         711000
6   2021-12-24 00:19:03.875       0        19         3         875000
7   2021-12-24 00:19:02.594       0        19         2         594000
8   2021-12-24 00:20:04.773       0        20         4         773000
9   2021-12-24 00:20:04.773       0        20         4         773000
10  2021-12-24 00:21:03.711       0        21         3         711000
11  2021-12-24 00:22:00.820       0        22         0         820000
12  2021-12-24 00:23:03.055       0        23         3          55000
13  2021-12-24 00:24:00.531       0        24         0         531000
14  2021-12-24 00:26:02.828       0        26         2         828000
15  2021-12-24 00:26:00.453       0        26         0         453000
16  2021-12-24 00:27:02.375       0        27         2         375000
17  2021-12-24 00:28:04.148       0        28         4         148000
18  2021-12-24 00:28:03.766       0        28         3         766000
19  2021-12-24 00:29:03.031       0        29         3          31000
20  2021-12-24 00:29:03.031       0        29         3          31000
21  2021-12-24 00:30:00.523       0        30         0         523000
22  2021-12-24 00:30:02.891       0        30         2         891000
23  2021-12-24 00:30:01.398       0        30         1         398000
24  2021-12-24 00:30:01.672       0        30         1         672000
25  2021-12-24 00:30:01.898       0        30         1         898000
26  2021-12-24 00:31:02.102       0        31         2         102000
27  2021-12-24 00:31:02.797       0        31         2         797000
28  2021-12-24 00:31:01.180       0        31         1         180000
29  2021-12-24 00:32:02.375       0        32         2         375000
30  2021-12-24 00:32:02.891       0        32         2         891000
31  2021-12-24 00:32:03.656       0        32         3         656000
32  2021-12-24 00:33:00.758       0        33         0         758000
33  2021-12-24 00:34:02.125       0        34         2         125000
34  2021-12-24 00:35:00.883       0        35         0         883000
35  2021-12-24 00:36:03.125       0        36         3         125000
36  2021-12-24 00:36:00.234       0        36         0         234000
37  2021-12-24 00:36:02.828       0        36         2         828000
38  2021-12-24 00:38:00.711       0        38         0         711000
39  2021-12-24 00:40:03.758       0        40         3         758000
40  2021-12-24 00:40:03.086       0        40         3          86000
41  2021-12-24 00:41:00.078       0        41         0          78000
42  2021-12-24 00:41:01.438       0        41         1         438000
43  2021-12-24 00:42:01.156       0        42         1         156000
44  2021-12-24 00:42:02.477       0        42         2         477000
45  2021-12-24 00:43:02.516       0        43         2         516000
46  2021-12-24 00:45:00.875       0        45         0         875000
47  2021-12-24 00:45:00.875       0        45         0         875000
48  2021-12-24 00:48:01.914       0        48         1         914000
49  2021-12-24 00:49:03.406       0        49         3         406000
50  2021-12-24 00:50:00.789       0        50         0         789000
51  2021-12-24 00:59:00.414       0        59         0         414000

    Latitude_x  Longitude_x  FlightLevel_x TargetID_x  SelectedHeading_x  ...  \
0    21.812164  -154.065075        40000.0     N819AP          -1.000000  ...
1    28.025611  -151.546326        34000.0     ASA843         210.937500  ...
2    27.935806  -151.651698        34000.0     ASA843         210.937500  ...
3    30.442277  -150.859314        35000.0     ASA832          33.750000  ...
4    30.534404  -150.753900        35000.0     ASA832          33.750000  ...
5    30.433044  -150.869643        36000.0     ASA879          -1.000000  ...
6    21.703354  -156.772306        26925.0     UAL410          42.187500  ...
7    24.811249  -155.165711        39000.0      HAL22          -1.000000  ...
8    24.905182  -155.064392        39000.0      HAL22          -1.000000  ...
9    24.905182  -155.064392        39000.0      HAL22          -1.000000  ...
10   24.874769  -155.123015        38000.0    WJA1860         215.156250  ...
11   24.942922  -154.910750        39975.0     AAL692         227.109375  ...
12   24.864670  -155.035502        39975.0     AAL692         227.109375  ...
13   22.298813  -155.816895        30000.0     DAL495          45.703125  ...
14   22.245804  -155.899042        37000.0     UAL410          42.187500  ...
15   22.449417  -155.570701        31025.0     DAL495          45.703125  ...
16   22.321701  -155.775396        37000.0     UAL410          42.187500  ...
17   22.086410  -156.160966        33000.0     UAL724          42.890625  ...
18   22.183026  -155.759125        37500.0     EJM168          -1.000000  ...
19   22.167984  -156.028731        33000.0     UAL724          42.890625  ...
20   22.167984  -156.028731        33000.0     UAL724          42.890625  ...
21   22.247314  -155.899811        33000.0     UAL724          42.890625  ...
22   21.691993  -155.853017        33425.0      HAL61          -1.000000  ...
23   25.007629  -154.953512        35000.0     ASA862          32.343750  ...
24   25.804836  -154.079313        39000.0      HAL22          -1.000000  ...
25   21.391251  -151.912803        31025.0      AAL58          -1.000000  ...
26   25.098678  -154.854482        35000.0     ASA862          32.343750  ...
27   25.895645  -153.978675        39000.0      HAL22          -1.000000  ...
28   21.439865  -151.774675        31000.0      AAL58          -1.000000  ...
29   25.072266  -154.883219        34000.0     ASA843         213.750000  ...
30   25.921636  -153.975449        38000.0     DAL397           0.000000  ...
31   32.487503  -145.953201        34050.0     UAL363         218.671875  ...
32   25.831185  -154.075699        38000.0     DAL397           0.000000  ...
33   25.553547  -154.356822        37000.0     DAL489           0.000000  ...
34   25.644324  -154.282302        38000.0     DAL397           0.000000  ...
35   25.548019  -154.388377        38000.0     DAL397           0.000000  ...
36   20.816711  -152.564932        33000.0      HAL32          -1.000000  ...
37   21.497125  -152.516937        33000.0     AAL162          -1.000000  ...
38   24.211945  -145.464427        35000.0     ASA882          -1.000000  ...
39   28.644607  -149.954981        35000.0     UAL650          40.781250  ...
40   24.225412  -145.520135        36000.0    ATN3511         232.734375  ...
41   20.984212  -154.460383        41000.0    HAL9050          -1.000000  ...
42   28.718491  -149.849185        35000.0     UAL650          40.781250  ...
43   20.973267  -154.313131        41000.0    HAL9050          -1.000000  ...
44   28.702573  -149.902900        34000.0     UAL384         220.781250  ...
45   20.782455  -154.387823        40000.0     DAL474           0.000000  ...
46   21.387222  -155.755821        30575.0    SWA1385         196.875000  ...
47   21.387222  -155.755821        30575.0    SWA1385         196.875000  ...
48   23.696299  -146.686655        37000.0    SWA2183         229.921875  ...
49   23.756957  -146.544662        37000.0    SWA2183         229.921875  ...
50   23.757655  -146.629547        36025.0    ATN3511         232.734375  ...
51   27.509491  -152.148881        35000.0     ASA862          37.265625  ...

   Latitude_y Longitude_y  FlightLevel_y  TargetID_y  SelectedHeading_y  \
0   21.832208 -153.637695        39000.0       HAL34          -1.000000
1   28.043747 -151.486781        33000.0      ASA896          35.859375
2   28.123417 -151.392840        33000.0      ASA896          38.671875
3   30.710495 -150.551848        36000.0      ASA879          -1.000000
4   30.617157 -150.659072        36000.0      ASA879          -1.000000
5   30.709488 -150.552871        35000.0      ASA832          33.750000
6   21.937323 -156.403453        26125.0      DAL495          45.703125
7   25.056788 -154.925779        38000.0     WJA1860         215.156250
8   24.964475 -155.025692        38000.0     WJA1860         215.156250
9   25.091191 -154.673767        39975.0      AAL692         225.703125
10  24.992340 -154.969940        39000.0       HAL22          -1.000000
11  25.082062 -154.872437        39000.0       HAL22          -1.000000
12  25.176614 -154.769587        39000.0       HAL22          -1.000000
13  22.278488 -155.472823        29800.0      AAL432          78.046875
14  22.455077 -155.706838        38000.0      EJM168          -1.000000
15  22.482147 -155.414296        32000.0     UAL1273         203.203125
16  22.321379 -155.732524        38000.0      EJM168          -1.000000
17  21.945282 -155.804710        33975.0       HAL61          -1.000000
18  22.400332 -155.647481        37000.0      UAL410          42.187500
19  21.819443 -155.828680        33950.0       HAL61          -1.000000
20  22.163360 -155.588829        32000.0     UAL1273         203.203125
21  21.926011 -155.808156        34000.0      EJM168          -1.000000
22  21.926011 -155.808156        34000.0      EJM168          -1.000000
23  25.257568 -154.681142        34000.0      ASA843         213.750000
24  26.109521 -153.766339        38000.0      DAL397           0.000000
25  21.458450 -151.650180        32000.0      AAL663          -1.000000
26  25.165832 -154.781291        34000.0      ASA843         213.750000
27  26.019628 -153.866483        38000.0      DAL397           0.000000
28  21.405579 -151.758895        32000.0      AAL663          -1.000000
29  25.189509 -154.755387        35000.0      ASA862          32.343750
30  25.981064 -153.883736        39000.0       HAL22          -1.000000
31  32.509615 -145.893000        33050.0       HAL40          -1.000000
32  26.075134 -153.779003        39000.0       HAL22          -1.000000
33  25.738769 -154.178009        38000.0      DAL397           0.000000
34  25.644091 -154.257012        37000.0      DAL489           0.000000
35  25.731610 -154.160312        37000.0      DAL489           0.000000
36  21.158340 -152.324491        32000.0      AAL663          -1.000000
37  21.158340 -152.324491        32000.0      AAL663          -1.000000
38  24.318051 -145.297247        36000.0     ATN3511         232.734375
39  28.865972 -149.667987        34000.0      UAL384         220.781250
40  24.330917 -145.177358        35000.0      ASA882          -1.000000
41  20.782196 -154.137350        40000.0      DAL474           0.000000
42  28.784134 -149.785855        34000.0      UAL384         220.781250
43  20.782379 -154.261044        40000.0      DAL474           0.000000
44  28.799103 -149.733353        35000.0      UAL650          40.781250
45  20.962463 -154.168396        41000.0     HAL9050          -1.000000
46  21.663071 -155.441362        30475.0     SWA1310          68.203125
47  21.307704 -155.435791        31525.0      UAL643          21.796875
48  23.850311 -146.411641        36000.0     ATN3511         232.734375
49  23.802658 -146.523895        36000.0     ATN3511         232.734375
50  23.815939 -146.405778        37000.0     SWA2183         229.921875
51  27.302261 -151.863496        34000.0      UAL384         217.968750

    TargetAddress_y   Distance  HeightDifference_ft  potentialLoss400  \
0            A47D69  23.851663               1000.0             False
1            ACBE34   3.338180               1000.0             False
2            ACBE34  17.750829               1000.0             False
3            A79D78  22.626074               1000.0             False
4            A79D78   6.979586               1000.0             False
5            A682EF  23.316098               1000.0             False
6            A789BC  24.900291                800.0             False
7            C012BD  19.697076               1000.0             False
8            C012BD   4.136787               1000.0             False
9            AB5C12  24.011490                975.0             False
10           A4671F  10.921814               1000.0             False
11           A4671F   8.610195                975.0             False
12           A4671F  23.666230                975.0             False
13           AB271F  19.153653                200.0              True
14           A1109B  16.486076               1000.0             False
15           A44917   8.897691                975.0             False
16           A1109B   2.381284               1000.0             False
17           A1A546  21.564558                975.0             False
18           A09852  14.446270                500.0             False
19           A1A546  23.705589                950.0             False
20           A44917  24.461590               1000.0             False
21           A1109B  19.953754               1000.0             False
22           A1109B  14.271348                575.0             False
23           A4DF56  21.080327               1000.0             False
24           AB4C1D  24.901916               1000.0             False
25           A4ACAE  15.222820                975.0             False
26           A4DF56   5.664314               1000.0             False
27           AB4C1D   9.596569               1000.0             False
28           A4ACAE   2.239571               1000.0             False
29           A6C6C8   9.891158               1000.0             False
30           A4671F   6.102928               1000.0             False
31           A1F7FB   3.325012               1000.0             False
32           A4671F  21.704408               1000.0             False
33           AB4C1D  14.742546               1000.0             False
34           AB4FD4   1.368894               1000.0             False
35           AB4FD4  16.549837               1000.0             False
36           A4ACAE  24.543687               1000.0             False
37           A4ACAE  23.012927               1000.0             False
38           A4CE28  11.149989               1000.0             False
39           AA9321  20.120799               1000.0             False
40           A7811E  19.800921               1000.0             False
41           AB1979  21.805621               1000.0             False
42           AA9321   5.161995               1000.0             False
43           AB1979  11.827589               1000.0             False
44           A94B4D  10.641471               1000.0             False
45           A4A4E8  16.381149               1000.0             False
46           ABFD8C  24.140765                100.0              True
47           A76F67  18.522286                950.0             False
48           A4CE28  17.715626               1000.0             False
49           A4CE28   2.971682               1000.0             False
50           AC0448  12.782222                975.0             False
51           AA9321  19.651979               1000.0             False

   potentialLoss1000
0               True
1               True
2               True
3               True
4               True
5               True
6               True
7               True
8               True
9               True
10              True
11              True
12              True
13              True
14              True
15              True
16              True
17              True
18              True
19              True
20              True
21              True
22              True
23              True
24              True
25              True
26              True
27              True
28              True
29              True
30              True
31              True
32              True
33              True
34              True
35              True
36              True
37              True
38              True
39              True
40              True
41              True
42              True
43              True
44              True
45              True
46              True
47              True
48              True
49              True
50              True
51              True

[52 rows x 26 columns]