<a href="https://colab.research.google.com/github/DAEN690-S22-OA/OceanicAirspaceProject/blob/main/VerticalSeparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data pre-processing will happen here.

In [ ]:
#Installing the required libraries
!pip install geopy
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 32 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 63.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=e297d16c17b3168f95b42508667dc387ecb0a52be6c9cc76e7df55f66dc0fadb
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 60 kB/s
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58762 sha256=36cbd49ffe3040a5e550339ecb66b00c77e767522f7fec144d89266d440d3021
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.37)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=f9e1bab051eecb5782e5d9fe43c0ae4a74b27ddd7b092f5dba39d13f0fc01054
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
#Importing the required libraries
import pandas as pd
import pandasql as ps
from pyspark.sql import SparkSession
import os
import sys
import re
from datetime import datetime
from geopy.distance import geodesic as GD

In [ ]:
#Upload the data file after pre-processing (only the selected attribues and only above level 240)
from google.colab import files
uploadedfile = files.upload()

Saving airspaceData.csv to airspaceData.csv

In [ ]:
import io
airspaceDF = pd.read_csv(io.BytesIO(uploadedfile['airspaceData.csv']))

In [ ]:
print(airspaceDF)

                        DateTime   Hour   Minute   Second   microSecond  \
0        2021-12-24 23:59:59.992     23       59       59        992000
1        2021-12-24 20:54:11.141     20       54       11        141000
2        2021-12-24 12:36:02.773     12       36        2        773000
3        2021-12-24 04:13:17.836      4       13       17        836000
4        2021-12-24 23:59:59.984     23       59       59        984000
...                          ...    ...      ...      ...           ...
3303983  2021-12-24 12:36:02.859     12       36        2        859000
3303984  2021-12-24 12:36:02.852     12       36        2        852000
3303985  2021-12-24 12:36:02.805     12       36        2        805000
3303986  2021-12-24 12:36:02.805     12       36        2        805000
3303987  2021-12-24 12:36:02.789     12       36        2        789000

          Latitude   Longitude   Height   TargetID    SelectedHeading  \
0        21.325208 -158.058116   2200.0     UAL253          78.750000
1        21.321762 -157.908142     75.0     N357MH                NaN
2        37.307144 -139.574170  35675.0     ASA899                NaN
3        21.496660 -146.918742  37300.0      HAL50                NaN
4        25.936523 -149.628348  38775.0    SWA2385          45.703125
...            ...         ...      ...        ...                ...
3303983   8.368696 -135.701894  39050.0     AFR076         203.203125
3303984  29.190674 -135.155922  36050.0     AAL144           0.000000
3303985  33.299423 -127.851361  36550.0    UAL1292          59.765625
3303986  31.330582 -122.568270  34625.0     AAL697           0.000000
3303987  38.710464 -156.728748  37175.0     ASA873                NaN

         TargetAddress   TrackNumber
0               AA92F9        1277.0
1               A3FFE9         640.0
2               A7B779        1024.0
3               A48E9E        1024.0
4               ABF949        1024.0
...                ...           ...
3303983         3949F8        1024.0
3303984         A4F59C        1024.0
3303985         AA56DA        1024.0
3303986         A4F1E5        1300.0
3303987         A7A4E6        1024.0

[3303988 rows x 12 columns]

In [ ]:
#Some column names may be imported with leading spaces. This will remove that
airspaceDF.columns = [x.strip() for x in airspaceDF.columns]

print(airspaceDF.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3303988 entries, 0 to 3303987
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   DateTime         object
 1   Hour             int64
 2   Minute           int64
 3   Second           int64
 4   microSecond      int64
 5   Latitude         float64
 6   Longitude        float64
 7   Height           float64
 8   TargetID         object
 9   SelectedHeading  float64
 10  TargetAddress    object
 11  TrackNumber      float64
dtypes: float64(5), int64(4), object(3)
memory usage: 302.5+ MB
None

In [ ]:
#create SQL query for flights between the start and end time
sql1 = "SELECT * FROM airspaceDF WHERE Hour = 23 and Minute = 59 ORDER BY TargetID, Second"

#Run query and store results
records2359 = ps.sqldf(sql1, locals())

In [ ]:
#Export the file with just the 23:59 data to make it easier to pick up where we left off
from google.colab import files

records2359.to_csv('records2359_1224.csv', encoding = 'utf-8-sig') 
files.download('records2359_1224.csv')

**START HERE WITH records2359_1224.csv FILE**

In [ ]:
#Upload the file with the 23:59 data and save it as a dataframe named records2359

#Upload the records2359_1224.csv data file
from google.colab import files
uploadedfile = files.upload()

import io
records2359 = pd.read_csv(io.BytesIO(uploadedfile['records2359_1224.csv']))

Saving records2359_1224.csv to records2359_1224.csv

In [ ]:
#Remove flights without a flight name or altitude
records2359 = records2359.dropna(subset=['TargetID'])
records2359 = records2359.dropna(subset=['Height'])

records2359.head(5)

,Unnamed: 0,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
16,16,59:01.9,23,59,1,875000,21.085836,-157.526245,15400.0,AAH24,107.578125,A32F17,1234.0
17,17,59:06.8,23,59,6,750000,21.081926,-157.517598,15400.0,AAH24,107.578125,A32F17,1234.0
18,18,59:10.9,23,59,10,875000,21.078644,-157.510337,15400.0,AAH24,107.578125,A32F17,1234.0
19,19,59:15.1,23,59,15,102000,21.075211,-157.502747,15425.0,AAH24,107.578125,A32F17,1234.0
20,20,59:19.7,23,59,19,695000,21.071594,-157.494807,15400.0,AAH24,107.578125,A32F17,1234.0

In [ ]:
#Get the first entry for this minute of time
sql2 = "SELECT *, min(Second) FROM records2359 GROUP BY TargetID"

#Run query and store results
firstEntryDF = ps.sqldf(sql2, locals())
del firstEntryDF['min(Second)']

firstEntryDF.head(5)

,Unnamed: 0,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
0,16,59:01.9,23,59,1,875000,21.085836,-157.526245,15400.0,AAH24,107.578125,A32F17,1234.0
1,30,59:01.5,23,59,1,508000,19.976543,-155.128401,2625.0,AAH504,130.078125,A323F2,1272.0
2,43,59:03.1,23,59,3,109000,25.290344,-147.790578,38775.0,AAL119,232.031250,AB6AFA,1024.0
3,56,59:02.3,23,59,2,273000,42.300705,-132.887941,38200.0,AAL128,99.843750,AB7613,1024.0
4,69,59:01.4,23,59,1,438000,33.262985,-123.632941,30500.0,AAL143,0.000000,A4FBAC,1024.0

In [ ]:
#Create tables to store proximity
sql3 = "SELECT * FROM firstEntryDF ORDER BY Latitude"
sql4 = "SELECT * FROM firstEntryDF ORDER BY Longitude"

#Run query and store results
LatitudeOrderDF = ps.sqldf(sql3, locals())
LongitudeOrderDF = ps.sqldf(sql4, locals())

In [ ]:
LatitudeOrderDF.head()

,Unnamed: 0,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
0,1100,59:04.0,23,59,4,47000,0.190538,-175.769980,37350.0,FDX77,210.937500,ABE1EB,1024.0
1,1800,59:00.6,23,59,0,625000,6.845460,-163.240356,36000.0,MGE600,NaN,AC3C99,1484.0
2,659,59:04.0,23,59,3,977000,11.171885,178.954757,37225.0,ATN440,51.328125,AA21BF,1024.0
3,1366,59:01.5,23,59,1,453000,11.610489,-166.661035,42300.0,HAL451,NaN,A45233,1024.0
4,2578,59:04.8,23,59,4,836000,12.478409,142.616035,40650.0,SIA8890,258.750000,76B44A,1997.0

In [ ]:
LongitudeOrderDF.head()

,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
0,2021-12-24 23:59:03.648,23,59,3,648000,17.969330,-176.990517,38025.0,MGE300,NaN,A9228A,1088.0
1,2021-12-24 23:59:04.047,23,59,4,47000,0.190538,-175.769980,37350.0,FDX77,210.937500,ABE1EB,1024.0
2,2021-12-24 23:59:02.883,23,59,2,883000,33.536041,-175.560315,40950.0,UAL903,288.281250,AA9321,1488.0
3,2021-12-24 23:59:00.430,23,59,0,430000,49.627487,-174.973249,34575.0,UAL893,265.078125,A31A73,1024.0
4,2021-12-24 23:59:00.109,23,59,0,109000,47.560684,-172.337723,40800.0,AAL9726,277.031250,AB5257,1024.0

In [ ]:
#Calculate the distance of the points closest to each other by longitidue and latitude

latInterest1 = []
latInterest2 = []
latDistance = []

longInterest1 = []
longInterest2 = []
longDistance = []

counter1 = 0
counter2 = 1

while counter2 < len(LongitudeOrderDF):
  #Create the coordinates that Geopy will ingest
  point0 = (LongitudeOrderDF['Latitude'][counter1], LongitudeOrderDF['Longitude'][counter1])
  point1 = (LongitudeOrderDF['Latitude'][counter2], LongitudeOrderDF['Longitude'][counter2])

  #Calculate the distance between the two points
  distance = GD(point0,point1).km

  #Assuming the distance threshold is 5KM
  if distance < 5:
    longInterest1.append(counter1)
    longInterest2.append(counter2)
    longDistance.append(distance)

  #Increase the count
  counter1 = counter1 + 1
  counter2 = counter2 + 1

print(longInterest1)
print(longInterest2)
print(longDistance)

print('')
print('---')
print('')

counter1 = 0
counter2 = 1

while counter2 < len(LatitudeOrderDF):
  #Create the coordinates that Geopy will ingest
  point0 = (LatitudeOrderDF['Latitude'][counter1], LatitudeOrderDF['Longitude'][counter1])
  point1 = (LatitudeOrderDF['Latitude'][counter2], LatitudeOrderDF['Longitude'][counter2])

  #Calculate the distance between the two points
  distance = GD(point0,point1).km

  #Assuming the distance threshold is 5KM
  if distance < 5:
    latInterest1.append(counter1)
    latInterest2.append(counter2)
    latDistance.append(distance)

  #Increase the count
  counter1 = counter1 + 1
  counter2 = counter2 + 1

print(latInterest1)
print(latInterest2)
print(latDistance)

[21, 24, 25, 26, 30, 31, 32, 41, 48, 49, 50, 71, 80, 103, 127, 138, 195]
[22, 25, 26, 27, 31, 32, 33, 42, 49, 50, 51, 72, 81, 104, 128, 139, 196]
[3.2555790800323257, 2.1313499546741426, 1.434996274386774, 1.7472435861987152, 0.921809942353758, 2.3903466792274917, 4.947650052358498, 4.126299892974009, 2.546333855157941, 1.4134608909271353, 4.886132946915177, 1.496699176920748, 2.3755526867640224, 3.080109603682967, 2.8429956465435025, 3.18890544955417, 4.048862553398835]

---

[10, 27, 49, 50, 58, 80, 88, 90, 91, 92, 132, 143, 207]
[11, 28, 50, 51, 59, 81, 89, 91, 92, 93, 133, 144, 208]
[3.080109603682967, 2.3755526867640224, 4.4389653201839465, 2.3758460203815437, 1.4134608909271353, 0.921809942353758, 3.2555790800323257, 2.1313499546741426, 1.434996274386774, 1.7472435861987152, 2.8429956465435025, 3.18890544955417, 4.048862553398835]

In [ ]:
#Create a combined list of flights that came within 25 nautical miles of eachother at this time stamp

Resultsdf = pd.DataFrame(columns=['remove1','DateTime1','Hour1','Minute1','Second1','microSecond1','Latitude1','Longitude1','Height1',
                                  'TargetID1', 'SelectedHeading1', 'TargetAddress1', 'remove2', "TrackNumber2", 'DateTime2','Hour2','Minute2',
                                  'Second2','microSecond2','Latitude2','Longitude2','Height2', 'TargetID2', 'SelectedHeading2', 
                                  'TargetAddress2', "TrackNumber2", "Distance"])

print(Resultsdf)

Empty DataFrame
Columns: [remove1, DateTime1, Hour1, Minute1, Second1, microSecond1, Latitude1, Longitude1, Height1, TargetID1, SelectedHeading1, TargetAddress1, remove2, TrackNumber2, DateTime2, Hour2, Minute2, Second2, microSecond2, Latitude2, Longitude2, Height2, TargetID2, SelectedHeading2, TargetAddress2, TrackNumber2, Distance]
Index: []

[0 rows x 27 columns]

In [ ]:
#Adding the values from analyzing Longitude 
listlocation = 0

for x in longInterest1:
  position1 = longInterest1[listlocation]
  position2 = longInterest2[listlocation]
  
  entryValues1 = []

  position = 0
  while position < len(LongitudeOrderDF.columns):
    recordData = LongitudeOrderDF.loc[position1][position]
    entryValues1.append(recordData)
    position = position + 1

  position = 0
  while position < len(LongitudeOrderDF.columns):
    recordData = LongitudeOrderDF.loc[position2][position]
    entryValues1.append(recordData)
    position = position + 1

  entryValues1.append(longDistance[listlocation])
  print(entryValues1)

  Resultsdf.loc[len(Resultsdf.index)] = entryValues1

  listlocation = listlocation + 1

[1922, '59:01.7', 23, 59, 1, 719000, 22.16015624, -159.696317, 2450.0, 'N11QN', nan, 'A02B45', 640.0, 1873, '59:00.2', 23, 59, 0, 234000, 22.16091346, -159.6647645, 1800.0, 'N11QC', nan, 'A02B3B', 640.0, 3.2555790800323257]
[2262, '59:14.4', 23, 59, 14, 414000, 22.20890807, -159.6128208, 975.0, 'N635SB', nan, 'A851E1', 640.0, 2187, '59:02.5', 23, 59, 2, 523000, 22.21609488, -159.5936447, 1175.0, 'N451H', nan, 'A57682', 640.0, 2.1313499546741426]
[2187, '59:02.5', 23, 59, 2, 523000, 22.21609488, -159.5936447, 1175.0, 'N451H', nan, 'A57682', 640.0, 2123, '59:02.9', 23, 59, 2, 898000, 22.22887963, -159.5913697, 1925.0, 'N251H', nan, 'A25BE4', 640.0, 1.434996274386774]
[2123, '59:02.9', 23, 59, 2, 898000, 22.22887963, -159.5913697, 1925.0, 'N251H', nan, 'A25BE4', 640.0, 2438, '59:00.0', 23, 59, 0, 16000, 22.22943837, -159.5744325, 1725.0, 'N963SA', nan, 'AD68DC', nan, 1.7472435861987152]
[2249, '59:01.2', 23, 59, 1, 234000, 21.95539841, -159.3476507, 750.0, 'N633JH', nan, 'A849B1', 640.0, 2030, '59:13.7', 23, 59, 13, 711000, 21.96313474, -159.3443548, 1550.0, 'N140WS', nan, 'A0A4B5', 640.0, 0.921809942353758]
[2030, '59:13.7', 23, 59, 13, 711000, 21.96313474, -159.3443548, 1550.0, 'N140WS', nan, 'A0A4B5', 640.0, 2388, '59:08.6', 23, 59, 8, 648000, 21.98455805, -159.3415085, 150.0, 'N842JH', nan, 'AB8817', 640.0, 2.3903466792274917]
[2388, '59:08.6', 23, 59, 8, 648000, 21.98455805, -159.3415085, 150.0, 'N842JH', nan, 'AB8817', 640.0, 2913, '59:03.3', 23, 59, 3, 258000, 21.94016263, -159.3360901, 625.0, 'SWA447', 355.78125, 'AB5EB2', 1242.0, 4.947650052358498]
[3205, '59:02.0', 23, 59, 2, 23000, 21.32166971, -158.1071473, 3125.0, 'UAL253', 78.75, 'AA92F9', 1277.0, 2089, '59:15.8', 23, 59, 15, 844000, 21.30825799, -158.0700407, 75.0, 'N243SP', nan, 'A23CC2', 640.0, 4.126299892974009]
[2900, '59:02.6', 23, 59, 2, 586000, 21.30683893, -157.9365568, 75.0, 'SWA436', 154.6875, 'AC0843', 1948.0, 2596, '59:23.1', 23, 59, 23, 148000, 21.32204203, -157.9181418, 75.0, 'STT2040', 40.78125, 'A4A533', 1951.0, 2.546333855157941]
[2596, '59:23.1', 23, 59, 23, 148000, 21.32204203, -157.9181418, 75.0, 'STT2040', 40.78125, 'A4A533', 1951.0, 2210, '59:02.1', 23, 59, 2, 78000, 21.3230663, -157.9045614, 350.0, 'N506CD', nan, 'A65070', 190.0, 1.4134608909271353]
[2210, '59:02.1', 23, 59, 2, 78000, 21.3230663, -157.9045614, 350.0, 'N506CD', nan, 'A65070', 190.0, 2325, '59:03.2', 23, 59, 3, 250000, 21.29315179, -157.8699397, 425.0, 'N805NV', nan, 'AAF5B0', 165.0, 4.886132946915177]
[2410, '59:08.7', 23, 59, 8, 688000, 21.15577692, -156.7731545, 1825.0, 'N873SH', nan, 'AC0313', 640.0, 2292, '59:14.6', 23, 59, 14, 602000, 21.16918931, -156.7713568, 2000.0, 'N752CH', nan, 'AA21B1', 640.0, 1.496699176920748]
[2376, '59:08.0', 23, 59, 7, 961000, 20.86994933, -156.4662552, 900.0, 'N839MA', nan, 'AB7ADD', 975.0, 2246, '59:03.7', 23, 59, 3, 656000, 20.85763698, -156.4475599, 1925.0, 'N6094H', nan, 'A7EB9A', 235.0, 2.3755526867640224]
[2223, '59:01.8', 23, 59, 1, 773000, 19.4194987, -155.2922474, 6425.0, 'N508PH', nan, 'A658F5', 640.0, 1944, '59:04.6', 23, 59, 4, 633000, 19.39617908, -155.2762496, 7000.0, 'N11QR', nan, 'A02B48', 640.0, 3.080109603682967]
[500, '59:01.4', 23, 59, 1, 352000, 26.95458356, -152.8135916, 32900.0, 'ASA843', 215.859375, 'A4F5A0', 1024.0, 1841, '59:01.0', 23, 59, 0, 969000, 26.97244255, -152.7930321, 40850.0, 'N11HM', nan, 'A02A95', 1024.0, 2.8429956465435025]
[632, '59:03.9', 23, 59, 3, 859000, 28.38280622, -151.0966402, 31925.0, 'ASA896', 35.15625, 'ACCD10', 1024.0, 473, '59:01.9', 23, 59, 1, 898000, 28.41106346, -151.0905008, 33850.0, 'ASA832', nan, 'A78C43', 1024.0, 3.18890544955417]
[2524, '59:02.7', 23, 59, 2, 695000, 43.96877479, -139.1599602, 32500.0, 'SIA11', 269.296875, '76CEE8', 1024.0, 1651, '59:02.6', 23, 59, 2, 570000, 43.96669004, -139.1095895, 37500.0, 'JAL6721', 267.890625, '86E474', 4073.0, 4.048862553398835]

In [ ]:
#Adding the values from analyzing Latitude 
listlocation = 0

for x in latInterest1:
  position1 = latInterest1[listlocation]
  position2 = latInterest2[listlocation]
  
  entryValues1 = []

  position = 0
  while position < len(LatitudeOrderDF.columns):
    recordData = LatitudeOrderDF.loc[position1][position]
    entryValues1.append(recordData)
    position = position + 1

  position = 0
  while position < len(LatitudeOrderDF.columns):
    recordData = LatitudeOrderDF.loc[position2][position]
    entryValues1.append(recordData)
    position = position + 1

  entryValues1.append(latDistance[listlocation])

  Resultsdf.loc[len(Resultsdf.index)] = entryValues1

  listlocation = listlocation + 1

In [ ]:
print(Resultsdf)

   remove1 DateTime1 Hour1 Minute1 Second1 microSecond1  Latitude1  \
0     1922   59:01.7    23      59       1       719000  22.160156
1     2262   59:14.4    23      59      14       414000  22.208908
2     2187   59:02.5    23      59       2       523000  22.216095
3     2123   59:02.9    23      59       2       898000  22.228880
4     2249   59:01.2    23      59       1       234000  21.955398
5     2030   59:13.7    23      59      13       711000  21.963135
6     2388   59:08.6    23      59       8       648000  21.984558
7     3205   59:02.0    23      59       2        23000  21.321670
8     2900   59:02.6    23      59       2       586000  21.306839
9     2596   59:23.1    23      59      23       148000  21.322042
10    2210   59:02.1    23      59       2        78000  21.323066
11    2410   59:08.7    23      59       8       688000  21.155777
12    2376   59:08.0    23      59       7       961000  20.869949
13    2223   59:01.8    23      59       1       773000  19.419499
14     500   59:01.4    23      59       1       352000  26.954584
15     632   59:03.9    23      59       3       859000  28.382806
16    2524   59:02.7    23      59       2       695000  43.968775
17    1944   59:04.6    23      59       4       633000  19.396179
18    2246   59:03.7    23      59       3       656000  20.857637
19    2277   59:07.4    23      59       7       406000  21.250488
20    1911   59:03.1    23      59       3       117000  21.259103
21    2596   59:23.1    23      59      23       148000  21.322042
22    2249   59:01.2    23      59       1       234000  21.955398
23    1922   59:01.7    23      59       1       719000  22.160156
24    2262   59:14.4    23      59      14       414000  22.208908
25    2187   59:02.5    23      59       2       523000  22.216095
26    2123   59:02.9    23      59       2       898000  22.228880
27     500   59:01.4    23      59       1       352000  26.954584
28     632   59:03.9    23      59       3       859000  28.382806
29    1651   59:02.6    23      59       2       570000  43.966690

    Longitude1  Height1 TargetID1  ...  Second2 microSecond2  Latitude2  \
0  -159.696317   2450.0     N11QN  ...        0       234000  22.160913
1  -159.612821    975.0    N635SB  ...        2       523000  22.216095
2  -159.593645   1175.0     N451H  ...        2       898000  22.228880
3  -159.591370   1925.0     N251H  ...        0        16000  22.229438
4  -159.347651    750.0    N633JH  ...       13       711000  21.963135
5  -159.344355   1550.0    N140WS  ...        8       648000  21.984558
6  -159.341509    150.0    N842JH  ...        3       258000  21.940163
7  -158.107147   3125.0    UAL253  ...       15       844000  21.308258
8  -157.936557     75.0    SWA436  ...       23       148000  21.322042
9  -157.918142     75.0   STT2040  ...        2        78000  21.323066
10 -157.904561    350.0    N506CD  ...        3       250000  21.293152
11 -156.773155   1825.0    N873SH  ...       14       602000  21.169189
12 -156.466255    900.0    N839MA  ...        3       656000  20.857637
13 -155.292247   6425.0    N508PH  ...        4       633000  19.396179
14 -152.813592  32900.0    ASA843  ...        0       969000  26.972443
15 -151.096640  31925.0    ASA896  ...        1       898000  28.411063
16 -139.159960  32500.0     SIA11  ...        2       570000  43.966690
17 -155.276250   7000.0     N11QR  ...        1       773000  19.419499
18 -156.447560   1925.0    N6094H  ...        7       961000  20.869949
19 -157.640625   5875.0    N731LC  ...        3       117000  21.259103
20 -157.682393   1725.0     N11QL  ...        4        55000  21.274017
21 -157.918142     75.0   STT2040  ...        2        78000  21.323066
22 -159.347651    750.0    N633JH  ...       13       711000  21.963135
23 -159.696317   2450.0     N11QN  ...        0       234000  22.160913
24 -159.612821    975.0    N635SB  ...        2       523000  22.216095
25 -159.593645   1175.0     N451H  ...        2       898000  22.228880
26 -159.591370   1925.0     N251H  ...        0        16000  22.229438
27 -152.813592  32900.0    ASA843  ...        0       969000  26.972443
28 -151.096640  31925.0    ASA896  ...        1       898000  28.411063
29 -139.109589  37500.0   JAL6721  ...        2       695000  43.968775

    Longitude2  Height2 TargetID2 SelectedHeading2 TargetAddress2  \
0  -159.664764   1800.0     N11QC              NaN         A02B3B
1  -159.593645   1175.0     N451H              NaN         A57682
2  -159.591370   1925.0     N251H              NaN         A25BE4
3  -159.574433   1725.0    N963SA              NaN         AD68DC
4  -159.344355   1550.0    N140WS              NaN         A0A4B5
5  -159.341509    150.0    N842JH              NaN         AB8817
6  -159.336090    625.0    SWA447       355.781250         AB5EB2
7  -158.070041     75.0    N243SP              NaN         A23CC2
8  -157.918142     75.0   STT2040        40.781250         A4A533
9  -157.904561    350.0    N506CD              NaN         A65070
10 -157.869940    425.0    N805NV              NaN         AAF5B0
11 -156.771357   2000.0    N752CH              NaN         AA21B1
12 -156.447560   1925.0    N6094H              NaN         A7EB9A
13 -155.276250   7000.0     N11QR              NaN         A02B48
14 -152.793032  40850.0     N11HM              NaN         A02A95
15 -151.090501  33850.0    ASA832              NaN         A78C43
16 -139.109589  37500.0   JAL6721       267.890625         86E474
17 -155.292247   6425.0    N508PH              NaN         A658F5
18 -156.466255    900.0    N839MA              NaN         AB7ADD
19 -157.682393   1725.0     N11QL              NaN         A02B43
20 -157.698853   1600.0    N357MH              NaN         A3FFE9
21 -157.904561    350.0    N506CD              NaN         A65070
22 -159.344355   1550.0    N140WS              NaN         A0A4B5
23 -159.664764   1800.0     N11QC              NaN         A02B3B
24 -159.593645   1175.0     N451H              NaN         A57682
25 -159.591370   1925.0     N251H              NaN         A25BE4
26 -159.574433   1725.0    N963SA              NaN         AD68DC
27 -152.793032  40850.0     N11HM              NaN         A02A95
28 -151.090501  33850.0    ASA832              NaN         A78C43
29 -139.159960  32500.0     SIA11       269.296875         76CEE8

   TrackNumber2  Distance
0         640.0  3.255579
1         640.0  2.131350
2         640.0  1.434996
3           NaN  1.747244
4         640.0  0.921810
5         640.0  2.390347
6        1242.0  4.947650
7         640.0  4.126300
8        1951.0  2.546334
9         190.0  1.413461
10        165.0  4.886133
11        640.0  1.496699
12        235.0  2.375553
13        640.0  3.080110
14       1024.0  2.842996
15       1024.0  3.188905
16       4073.0  4.048863
17        640.0  3.080110
18        975.0  2.375553
19        640.0  4.438965
20        170.0  2.375846
21        190.0  1.413461
22        640.0  0.921810
23        640.0  3.255579
24        640.0  2.131350
25        640.0  1.434996
26          NaN  1.747244
27       1024.0  2.842996
28       1024.0  3.188905
29       1024.0  4.048863

[30 rows x 27 columns]

In [ ]:
heightDifference = []
potentialLoss1000 = []
potentialLoss400 = []

counter = 0

while counter < len(Resultsdf):
  difference = abs((Resultsdf['Height1'][counter]) - (Resultsdf['Height2'][counter]))
  heightDifference.append(difference)

  if difference <= 1000:
    potentialLoss.append('True')
  else:
    potentialLoss.append('False')

  counter = counter + 1

print(heightDifference)
print(potentialLoss)

[650.0, 200.0, 750.0, 200.0, 800.0, 1400.0, 475.0, 3050.0, 0.0, 275.0, 75.0, 175.0, 1025.0, 575.0, 7950.0, 1925.0, 5000.0, 575.0, 1025.0, 4150.0, 125.0, 275.0, 800.0, 650.0, 200.0, 750.0, 200.0, 7950.0, 1925.0, 5000.0]
['True', 'True', 'True', 'True', 'True', 'False', 'True', 'False', 'True', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'False', 'True', 'False', 'False', 'True', 'True', 'True', 'True', 'True', 'True', 'True', 'False', 'False', 'False']

In [ ]:
Resultsdf['HeightDifference'] = heightDifference
Resultsdf['PotentialLoss'] = potentialLoss

print(Resultsdf)

   remove1 DateTime1 Hour1 Minute1 Second1 microSecond1  Latitude1  \
0     1922   59:01.7    23      59       1       719000  22.160156
1     2262   59:14.4    23      59      14       414000  22.208908
2     2187   59:02.5    23      59       2       523000  22.216095
3     2123   59:02.9    23      59       2       898000  22.228880
4     2249   59:01.2    23      59       1       234000  21.955398
5     2030   59:13.7    23      59      13       711000  21.963135
6     2388   59:08.6    23      59       8       648000  21.984558
7     3205   59:02.0    23      59       2        23000  21.321670
8     2900   59:02.6    23      59       2       586000  21.306839
9     2596   59:23.1    23      59      23       148000  21.322042
10    2210   59:02.1    23      59       2        78000  21.323066
11    2410   59:08.7    23      59       8       688000  21.155777
12    2376   59:08.0    23      59       7       961000  20.869949
13    2223   59:01.8    23      59       1       773000  19.419499
14     500   59:01.4    23      59       1       352000  26.954584
15     632   59:03.9    23      59       3       859000  28.382806
16    2524   59:02.7    23      59       2       695000  43.968775
17    1944   59:04.6    23      59       4       633000  19.396179
18    2246   59:03.7    23      59       3       656000  20.857637
19    2277   59:07.4    23      59       7       406000  21.250488
20    1911   59:03.1    23      59       3       117000  21.259103
21    2596   59:23.1    23      59      23       148000  21.322042
22    2249   59:01.2    23      59       1       234000  21.955398
23    1922   59:01.7    23      59       1       719000  22.160156
24    2262   59:14.4    23      59      14       414000  22.208908
25    2187   59:02.5    23      59       2       523000  22.216095
26    2123   59:02.9    23      59       2       898000  22.228880
27     500   59:01.4    23      59       1       352000  26.954584
28     632   59:03.9    23      59       3       859000  28.382806
29    1651   59:02.6    23      59       2       570000  43.966690

    Longitude1  Height1 TargetID1  ...  Latitude2  Longitude2  Height2  \
0  -159.696317   2450.0     N11QN  ...  22.160913 -159.664764   1800.0
1  -159.612821    975.0    N635SB  ...  22.216095 -159.593645   1175.0
2  -159.593645   1175.0     N451H  ...  22.228880 -159.591370   1925.0
3  -159.591370   1925.0     N251H  ...  22.229438 -159.574433   1725.0
4  -159.347651    750.0    N633JH  ...  21.963135 -159.344355   1550.0
5  -159.344355   1550.0    N140WS  ...  21.984558 -159.341509    150.0
6  -159.341509    150.0    N842JH  ...  21.940163 -159.336090    625.0
7  -158.107147   3125.0    UAL253  ...  21.308258 -158.070041     75.0
8  -157.936557     75.0    SWA436  ...  21.322042 -157.918142     75.0
9  -157.918142     75.0   STT2040  ...  21.323066 -157.904561    350.0
10 -157.904561    350.0    N506CD  ...  21.293152 -157.869940    425.0
11 -156.773155   1825.0    N873SH  ...  21.169189 -156.771357   2000.0
12 -156.466255    900.0    N839MA  ...  20.857637 -156.447560   1925.0
13 -155.292247   6425.0    N508PH  ...  19.396179 -155.276250   7000.0
14 -152.813592  32900.0    ASA843  ...  26.972443 -152.793032  40850.0
15 -151.096640  31925.0    ASA896  ...  28.411063 -151.090501  33850.0
16 -139.159960  32500.0     SIA11  ...  43.966690 -139.109589  37500.0
17 -155.276250   7000.0     N11QR  ...  19.419499 -155.292247   6425.0
18 -156.447560   1925.0    N6094H  ...  20.869949 -156.466255    900.0
19 -157.640625   5875.0    N731LC  ...  21.259103 -157.682393   1725.0
20 -157.682393   1725.0     N11QL  ...  21.274017 -157.698853   1600.0
21 -157.918142     75.0   STT2040  ...  21.323066 -157.904561    350.0
22 -159.347651    750.0    N633JH  ...  21.963135 -159.344355   1550.0
23 -159.696317   2450.0     N11QN  ...  22.160913 -159.664764   1800.0
24 -159.612821    975.0    N635SB  ...  22.216095 -159.593645   1175.0
25 -159.593645   1175.0     N451H  ...  22.228880 -159.591370   1925.0
26 -159.591370   1925.0     N251H  ...  22.229438 -159.574433   1725.0
27 -152.813592  32900.0    ASA843  ...  26.972443 -152.793032  40850.0
28 -151.096640  31925.0    ASA896  ...  28.411063 -151.090501  33850.0
29 -139.109589  37500.0   JAL6721  ...  43.968775 -139.159960  32500.0

   TargetID2 SelectedHeading2 TargetAddress2 TrackNumber2  Distance  \
0      N11QC              NaN         A02B3B        640.0  3.255579
1      N451H              NaN         A57682        640.0  2.131350
2      N251H              NaN         A25BE4        640.0  1.434996
3     N963SA              NaN         AD68DC          NaN  1.747244
4     N140WS              NaN         A0A4B5        640.0  0.921810
5     N842JH              NaN         AB8817        640.0  2.390347
6     SWA447       355.781250         AB5EB2       1242.0  4.947650
7     N243SP              NaN         A23CC2        640.0  4.126300
8    STT2040        40.781250         A4A533       1951.0  2.546334
9     N506CD              NaN         A65070        190.0  1.413461
10    N805NV              NaN         AAF5B0        165.0  4.886133
11    N752CH              NaN         AA21B1        640.0  1.496699
12    N6094H              NaN         A7EB9A        235.0  2.375553
13     N11QR              NaN         A02B48        640.0  3.080110
14     N11HM              NaN         A02A95       1024.0  2.842996
15    ASA832              NaN         A78C43       1024.0  3.188905
16   JAL6721       267.890625         86E474       4073.0  4.048863
17    N508PH              NaN         A658F5        640.0  3.080110
18    N839MA              NaN         AB7ADD        975.0  2.375553
19     N11QL              NaN         A02B43        640.0  4.438965
20    N357MH              NaN         A3FFE9        170.0  2.375846
21    N506CD              NaN         A65070        190.0  1.413461
22    N140WS              NaN         A0A4B5        640.0  0.921810
23     N11QC              NaN         A02B3B        640.0  3.255579
24     N451H              NaN         A57682        640.0  2.131350
25     N251H              NaN         A25BE4        640.0  1.434996
26    N963SA              NaN         AD68DC          NaN  1.747244
27     N11HM              NaN         A02A95       1024.0  2.842996
28    ASA832              NaN         A78C43       1024.0  3.188905
29     SIA11       269.296875         76CEE8       1024.0  4.048863

   HeightDifference  PotentialLoss
0             650.0           True
1             200.0           True
2             750.0           True
3             200.0           True
4             800.0           True
5            1400.0          False
6             475.0           True
7            3050.0          False
8               0.0           True
9             275.0           True
10             75.0           True
11            175.0           True
12           1025.0          False
13            575.0           True
14           7950.0          False
15           1925.0          False
16           5000.0          False
17            575.0           True
18           1025.0          False
19           4150.0          False
20            125.0           True
21            275.0           True
22            800.0           True
23            650.0           True
24            200.0           True
25            750.0           True
26            200.0           True
27           7950.0          False
28           1925.0          False
29           5000.0          False

[30 rows x 29 columns]

In [ ]:
Resultsdf.to_csv('results2359.csv', encoding = 'utf-8-sig') 
files.download('results2359.csv')

In [ ]:
#Get the first entry for this minute of time
sql6 = "SELECT * FROM Resultsdf WHERE PotentialLoss = 'True' "

#Run query and store results
LossCandidates = ps.sqldf(sql6, locals())

In [ ]:
print(LossCandidates)

    remove1 DateTime1  Hour1  Minute1  Second1  microSecond1  Latitude1  \
0      1922   59:01.7     23       59        1        719000  22.160156
1      2262   59:14.4     23       59       14        414000  22.208908
2      2187   59:02.5     23       59        2        523000  22.216095
3      2123   59:02.9     23       59        2        898000  22.228880
4      2249   59:01.2     23       59        1        234000  21.955398
5      2388   59:08.6     23       59        8        648000  21.984558
6      2900   59:02.6     23       59        2        586000  21.306839
7      2596   59:23.1     23       59       23        148000  21.322042
8      2210   59:02.1     23       59        2         78000  21.323066
9      2410   59:08.7     23       59        8        688000  21.155777
10     2223   59:01.8     23       59        1        773000  19.419499
11     1944   59:04.6     23       59        4        633000  19.396179
12     1911   59:03.1     23       59        3        117000  21.259103
13     2596   59:23.1     23       59       23        148000  21.322042
14     2249   59:01.2     23       59        1        234000  21.955398
15     1922   59:01.7     23       59        1        719000  22.160156
16     2262   59:14.4     23       59       14        414000  22.208908
17     2187   59:02.5     23       59        2        523000  22.216095
18     2123   59:02.9     23       59        2        898000  22.228880

    Longitude1  Height1 TargetID1  ...  microSecond2  Latitude2  Longitude2  \
0  -159.696317   2450.0     N11QN  ...        234000  22.160913 -159.664764
1  -159.612821    975.0    N635SB  ...        523000  22.216095 -159.593645
2  -159.593645   1175.0     N451H  ...        898000  22.228880 -159.591370
3  -159.591370   1925.0     N251H  ...         16000  22.229438 -159.574433
4  -159.347651    750.0    N633JH  ...        711000  21.963135 -159.344355
5  -159.341509    150.0    N842JH  ...        258000  21.940163 -159.336090
6  -157.936557     75.0    SWA436  ...        148000  21.322042 -157.918142
7  -157.918142     75.0   STT2040  ...         78000  21.323066 -157.904561
8  -157.904561    350.0    N506CD  ...        250000  21.293152 -157.869940
9  -156.773155   1825.0    N873SH  ...        602000  21.169189 -156.771357
10 -155.292247   6425.0    N508PH  ...        633000  19.396179 -155.276250
11 -155.276250   7000.0     N11QR  ...        773000  19.419499 -155.292247
12 -157.682393   1725.0     N11QL  ...         55000  21.274017 -157.698853
13 -157.918142     75.0   STT2040  ...         78000  21.323066 -157.904561
14 -159.347651    750.0    N633JH  ...        711000  21.963135 -159.344355
15 -159.696317   2450.0     N11QN  ...        234000  22.160913 -159.664764
16 -159.612821    975.0    N635SB  ...        523000  22.216095 -159.593645
17 -159.593645   1175.0     N451H  ...        898000  22.228880 -159.591370
18 -159.591370   1925.0     N251H  ...         16000  22.229438 -159.574433

    Height2 TargetID2  SelectedHeading2  TargetAddress2  Distance  \
0    1800.0     N11QC               NaN          A02B3B  3.255579
1    1175.0     N451H               NaN          A57682  2.131350
2    1925.0     N251H               NaN          A25BE4  1.434996
3    1725.0    N963SA               NaN          AD68DC  1.747244
4    1550.0    N140WS               NaN          A0A4B5  0.921810
5     625.0    SWA447         355.78125          AB5EB2  4.947650
6      75.0   STT2040          40.78125          A4A533  2.546334
7     350.0    N506CD               NaN          A65070  1.413461
8     425.0    N805NV               NaN          AAF5B0  4.886133
9    2000.0    N752CH               NaN          AA21B1  1.496699
10   7000.0     N11QR               NaN          A02B48  3.080110
11   6425.0    N508PH               NaN          A658F5  3.080110
12   1600.0    N357MH               NaN          A3FFE9  2.375846
13    350.0    N506CD               NaN          A65070  1.413461
14   1550.0    N140WS               NaN          A0A4B5  0.921810
15   1800.0     N11QC               NaN          A02B3B  3.255579
16   1175.0     N451H               NaN          A57682  2.131350
17   1925.0     N251H               NaN          A25BE4  1.434996
18   1725.0    N963SA               NaN          AD68DC  1.747244

    HeightDifference  PotentialLoss
0              650.0           True
1              200.0           True
2              750.0           True
3              200.0           True
4              800.0           True
5              475.0           True
6                0.0           True
7              275.0           True
8               75.0           True
9              175.0           True
10             575.0           True
11             575.0           True
12             125.0           True
13             275.0           True
14             800.0           True
15             650.0           True
16             200.0           True
17             750.0           True
18             200.0           True

[19 rows x 28 columns]